---
import { SITE_MAP } from '@constants/site_map'
---

<nav
  class="flex justify-center"
  aria-label="Navegación principal"
  role="navigation"
  transition:persist
>
  <button
    id="burger-button"
    class="p-4 transition-colors text-foreground hover:text-accent md:hidden"
    aria-label="Abrir menú"
    aria-controls="menu"
    aria-expanded="false"
  >
    ☰
  </button>

  <ul
    id="menu"
    aria-hidden="true"
    role="menu"
    class="list-none flex flex-col fixed top-20 -right-full w-full h-full bg-surface-light transition-[right] duration-300 ease-in-out md:static md:flex-row md:bg-transparent md:h-auto"
  >
    {
      SITE_MAP.map(page => (
        <li class="mx-0 md:mx-4">
          <a
            href={page.path}
            class="block w-full text-foreground transition-all hover:text-accent hover:bg-surface-dark  md:flex md:items-center"
            aria-label={`Ir a ${page.description}`}
          >
            <span class="px-2 w-full inline-block border-b border-surface-border md:border-none text-nowrap">
              {page.name}
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import { $, $$ } from '@/lib/dom-selector'

  document.addEventListener('astro:page-load', () => {
    const burgerButton = $('#burger-button')
    const menu = $('#menu')
    const links = $$('#menu a')

    function toggleMenu(isOpen: boolean) {
      if (isOpen) {
        menu?.classList.remove('-right-full')
        menu?.classList.add('right-0')
      } else {
        menu?.classList.remove('right-0')
        menu?.classList.add('-right-full')
      }
      if (burgerButton) burgerButton.innerText = isOpen ? '✕' : '☰'
      burgerButton?.setAttribute('aria-expanded', isOpen ? 'true' : 'false')
      menu?.setAttribute('aria-hidden', isOpen ? 'false' : 'true')
    }

    burgerButton?.addEventListener('click', () =>
      toggleMenu(burgerButton.getAttribute('aria-expanded') === 'false'),
    )
    links.forEach(link => {
      link.addEventListener('click', () => toggleMenu(false))
    })
  })
</script>
