---
import Layout from '@/layouts/Layout.astro'
import Breadcrumbs from '@components/layout/Breadcrumbs.astro'
import Container from '@components/layout/Container.astro'
import Section from '@components/layout/Section.astro'
---

<Layout>
  <Container>
    <Breadcrumbs
      items={[
        { label: 'Inicio', href: '/' },
        { label: 'Blog', href: '/blog' },
      ]}
    />
    <Section title="Blog" subtitle="Recetas, noticias y cultura italiana">
      <p class="text-muted">Muy pronto: artículos y novedades de Tutto a Leña.</p>
    </Section>
  </Container>
</Layout>
