---
import Layout from '../layouts/Layout.astro'
import Schema from '@components/layout/Schema.astro'
import Container from '@components/layout/Container.astro'
import Section from '@components/layout/Section.astro'
import Hero from '@components/index/Hero.astro'
import Menu from '@components/index/Menu.astro'
import SubHero from '@components/index/SubHero.astro'
import About from '@components/index/About.astro'
import HistoryExpanded from '@components/index/HistoryExpanded.astro'
import WhyOurPizza from '@components/index/WhyOurPizza.astro'
import IngredientsShowcase from '@components/index/IngredientsShowcase.astro'
import Gallery from '@components/index/Gallery.astro'
import Contact from '@components/index/Contact.astro'
import Events from '@components/index/Events.astro'
import Blog from '@components/index/Blog.astro'
import CallToAction from '@components/index/CallToAction.astro'
---

<Layout>
  <Schema type="aggregate" />

  <Hero />

  <Container>
    <Section title="Nuestra Carta" subtitle="Ingredientes frescos y horno a leña">
      <Menu />
    </Section>

    <Section title="Pasión por Italia" subtitle="Conoce nuestra historia y filosofía">
      <About />
    </Section>
  </Container>

  <HistoryExpanded />

  <WhyOurPizza />

  <IngredientsShowcase />

  <Container>
    <Section title="Galería" subtitle="Un vistazo a nuestros platos y espacio">
      <Gallery />
    </Section>

    <Section title="Próximos eventos" subtitle="Vive experiencias únicas">
      <Events />
    </Section>

    <Section title="Contacto" subtitle="Estamos para ayudarte">
      <Contact />
    </Section>

    <Section title="Blog" subtitle="Recetas, noticias y cultura italiana">
      <SubHero />
      <Blog />
    </Section>
  </Container>

  <CallToAction />
</Layout>
