---
import Layout from "../layouts/Layout.astro";
import Hero from "@components/index/Hero.astro";
import Menu from "@components/index/Menu.astro";
import SubHero from "@components/index/SubHero.astro";
import About from "@components/index/About.astro";
import Gallery from "@components/index/Gallery.astro";
import Contact from "@components/index/Contact.astro";
import Events from "@components/index/Events.astro";
import Blog from "@components/index/Blog.astro";
---

<Layout>
  <h1>Body</h1>
  <Hero />
  <Menu />
  <SubHero />
  <About />
  <Gallery />
  <Contact />
  <Events />
  <Blog />
</Layout>
