---
import "@styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Tutto a lena</title>
  </head>
  <body>
    <slot />
  </body>
</html>
